.code-inline {
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title-bottom {
    position: absolute;
    bottom: 1em;
}

pre.code-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

pre.code-wrapper code {
    margin-left: 0;
    margin-right: 0;
    right: 0;
}
